*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(200deg,#f3e7e9,#e3eeff); */
    background-image: url("../image/屏幕截图\ 2024-04-14\ 001320.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.container{
    background-color: #fff;
    width: 660px;
    height: 490px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
    position: relative;
}
.form-box{
    position: absolute;
    top: -10%;
    left: 5%;
    background-color: #65c3f1;
    width: 350px;
    height: 590px;
    border-radius: 5px;
    box-shadow: 2px 0 10px rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    transition: 0.5s ease-in-out;
}
.register-box,.login-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.hidden{
    display: none;
    transition: 0.5s;
}

h1{
    text-align: center;
    margin-bottom: 25px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 5px;
}

input{
    background-color: #65c3f1;
    width: 70%;
    color: #fff;
    border: none;
    border-bottom: 1px solid rgba(255,255,255,0.4);
    padding: 10px 0;
    text-indent: 10px;
    margin: 8px 0;
    font-size: 14px;
    letter-spacing: 2px;
}
input::placeholder{
    color: #fff;
}

input:focus{
    color: #fff;
    outline: none;
    border-bottom: 1px solid #1aa7ec80;
    transition: 0.5s;
}

input:focus::placeholder{
    opacity: 0;
}

.form-box button{
    width: 70%;
    margin-top: 35px;
    background-color: #f6f6f6;
    outline: none;
    border-radius: 8px;
    padding: 13px;
    color: #65c3f1;
    letter-spacing: 2px;
    border: none;
    cursor: pointer;
}
.form-box button:hover{
    background-color: #65c3f1;
    color: #f6f6f6;
    transition: background-color 0.5s ease;
}
.con-box{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.con-box.left{
    left: -2%;
}
.con-box.right{
    right: -2%;
}

.wel{
    color: #8e9aaf;
    font-size: 38px;
    font-weight: bold;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 10px;
}

.otherw{
    color: #65c3f1;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 15px;
}

.con-box p{
    font-size: 12px;
    letter-spacing: 2px;
    color: #8e9aaf;
    text-align: center;
}

.con-box img{
    height: 200px;
    opacity: 0.9;
    margin: 40px 0;
    border-bottom: 3px solid #65c3f1;
}
.con-box button{
    margin-top: 3%;
    background-color: #fff;
    color: #65c3f1;
    border: 1px solid #65c3f1;
    padding: 6px 10px;
    border-radius: 5px;
    letter-spacing: 1px;
    outline: none;
    cursor: pointer;
}
.con-box button:hover{
    background-color: #4adede;
    color: #fff;
}