/* Header styles */
nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

.login a{
    text-decoration: none;
    color: #000;
}

.login a:hover {
    text-decoration: underline;
}

.headerbutton {
    text-decoration: none;
    color: #000;
}

.headerbutton:hover {
    text-decoration: underline;
}

.cart a {
    text-decoration: none;
}

.cart a:hover {
    text-decoration: underline;
}

.container {
    width: 80%;
    margin: auto;
}